<div *ngIf="filtered.length > 0; else noProducts" class="product-grid-container">
  <mat-grid-list [cols]="gridCols" rowHeight="1:1" gutterSize="20px" class="product-grid">

    <mat-grid-tile *ngFor="let product of filtered">
      <a mat-card class="product-card" [routerLink]="['/products', product.id]">
        <div class="product-card__image-container">
          <img mat-card-image [src]="product.imageUrl" alt="{{product.name}}" class="product-card__image" />
        </div>
        <mat-card-content>
          <h2 class="product-card__title">{{ product.name }}</h2>
          <p class="product-card__price">{{ product.price | currency }}</p>
        </mat-card-content>
      </a>
    </mat-grid-tile>

  </mat-grid-list>
</div>

<ng-template #noProducts>
  <p>{{ '__filter.no-result' | translate }}</p>
</ng-template>
