.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2167ae !important;

  &__title {
    cursor: pointer;
  }

  &__title a {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
  }

  &__icon {
    color: white;
  }

  &__spacer {
    flex: 1;
  }

}

::ng-deep .header__menu {
  background-color: white !important;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0 6px;
  font-size: 12px;
}
