<ng-container *ngIf="cartItems.length > 0; else emptyCart">
  <div mat-menu-item *ngFor="let item of cartItems" class="cart-item">
    <div class="cart-item__details">
      <span>{{ item.product.name }} - {{ item.product.price | currency }} (x{{ item.quantity }})</span>
      <button mat-icon-button (click)="removeFromCart(item, $event)" class="cart-item__remove">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>

  <div class="total-price">
    <strong>Total: </strong>{{ totalPrice | currency }}
  </div>
</ng-container>

<ng-template #emptyCart>
  <button mat-menu-item>No items in cart</button>
</ng-template>
