.product {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
  }

  &__title {
    font-size: 1.5em;
    margin-bottom: 20px;
  }

  &__search,
  &__filter {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
  }

  &__filter {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;

    &-min,
    &-max {
      flex: 1;
      margin: 0 10px;
    }
  }

  &__button {
    margin-top: 20px;
    display: inline-block;
  }

  &-form-field {
    width: 100%;
  }

  @media (max-width: 768px) {
    &__container {
      padding: 10px;
    }

    &__search,
    &__filter {
      max-width: 100%;
    }

    &__filter {
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }

    &__filter-min,
    &__filter-max {
      margin: 0;
      width: 100%;  // Make the filters full width on mobile
    }

    &__button {
      width: 100%;  // Make the button full width on mobile
    }

    &__title {
      font-size: 1.2em;
      margin-bottom: 10px;
    }
  }
}
